---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

export async function getStaticPaths() {
  const sbApi = useStoryblokApi();

  const { data } = await sbApi.get("cdn/stories", {
    content_type: "HubPost",
    version: import.meta.env.DEV ? "draft" : "published",
    starts_with: "the-hub-new/"
  });

  const stories = data.stories;

  return stories.map((story) => {
    console.log(story);
    return {
      params: { slug: story.slug },
    };});
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/the-hub-new/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const story = data.story;
export const prerender = true
---

<html lang="en">
  <head>
    <title>Storyblok & Astro</title>
  </head>
  <body>
    <StoryblokComponent blok={story.content} />
  </body>
</html>