---
import { storyblokEditable } from '@storyblok/astro'
import { useStoryblokApi } from '@storyblok/astro'
import BlogCard from '~/components/blog/BlogCard.astro'
import Layout from '~/layouts/PageLayout.astro';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'HubPost',
})

const posts = data.stories.map(story => {
  return {
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString("en-GB", {dateStyle: "full"}),
    description: story.content.description,
    slug: story.slug,
    image_url: story.content.image.filename,
  }
})


const { blok } = Astro.props
---
<Layout>
<ul {...storyblokEditable(blok)}>
  <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4 -mb-6">
    {posts.map((post) => <BlogCard post={post} />)}
  </div>
</ul>
<div class=" gap-10"/>
</Layout>