---
import { Image, Picture } from '@astrojs/image/components';
const { post, url } = Astro.props;
---


<!-- component -->
<!-- This is an example component -->

<!--
  This component uses @tailwindcss/line-clamp

  yarn add @tailwindcss/line-clamp
  npm install @tailwindcss/line-clamp

  plugins: [require('@tailwindcss/line-clamp')]
-->

<article class="overflow-hidden rounded-lg border border-gray-100 shadow-sm">
    <Image
      src={post.image_url}
      width={400}
      aspectRatio="16:9"
      alt={post.title}
      format="avif"
    
    />
    <div class="p-4 sm:p-6">
      <a href="#">
        <h3 class="text-lg font-medium text-gray-900">
          {post.title}
        </h3>
      </a>
  
      <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
       {post.description}
      </p>
  
      <a
        href="#"
        class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600"
      >
        Find out more
  
        <span
          aria-hidden="true"
          class="block transition group-hover:translate-x-0.5"
        >
          &rarr;
        </span>
      </a>
    </div>
  </article>
  